/*estilos generales*/
			

/*fuentes generales*/
h2{font-family:Arial, Helvetica, sans-serif; color: #0B0B61;}
h3{font-family:Arial, Helvetica, sans-serif; color: #08088A; text-align: center;}
h4{color: #08088A}
.enlace{
	display: block;
	padding-top: 10px;
	padding-left: 20px;
}


		

